*{
  overflow: hidden;
}
nav{
    width:100%;
    height:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(59, 59, 214, 0.877);

}
.link{
    text-decoration: none;
    color:rgb(202, 202, 24);
    font-size: 20px;
   
}
.active{
    color:red;
}
.connectBroker{
    width:100%;
    height:40px;
   padding-right: 30px;
    display: flex;
    justify-content: space-between;
    padding:0px 2% 0px 3%;
    flex-direction: row-reverse;
   align-items: center;
   background-color: rgba(172, 207, 240, 0.658);
}
.connectButton{
    width:30px;
    height:30px;
    margin-right: 10px;


}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.brokerModal {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.brokerModal ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.brokerModal li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.brokerModal li:hover {
  background: #f5f5f5;
}


.closeBtn {
  margin-top: 15px;
  padding: 6px 12px;
  border: none;
  background: #ff4d4d;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.closeBtn:hover {
  background: #e60000;
}

.justify{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;

}