.Card{
  width:94%;
  height:20dvh;
  box-shadow: 0px 0px 5px 5px rgba(220, 196, 228, 0.822);
  margin:3% 3%;
}
.itemdiv{
    width:100%;
    height:33.33%;
    display:flex;
    justify-content: space-between;
   
}
.item{
    margin:auto 20px;
    overflow: visible;
}

span{
    margin:0 20px;
}

.green {
  color: #0c8403;   /* soft green */
  font-weight: 600;
}

.red {
  color: #ee1111d4;   /* soft red */
  font-weight: 600;
}
.brokerColorBox {
  width: 80px;
  height: 20px;
  font-size: 13px;
  border-radius: 3px;
  margin-right: 6px;
  text-align: center;
  display: inline-block;
  
}

.priceRow {
  display: flex;
  justify-content: left;
  align-items: center;
}