@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}

#root {
  width:100%;
  font-family: "PT Serif", serif;
  text-rendering: optimizeLegibility;
  
  font-style: normal;
 margin:0;
}
.logo{
  
  background-color:   rgba(64, 32, 179, 0.556);
  box-shadow:
  0px 0px 20px 20px rgba(64, 32, 179, 0.20),
  0px 0px 27px 27px rgba(64, 32, 179, 0.27),
  0px 0px 35px 35px rgba(58, 28, 160, 0.35),
  0px 0px 50px 50px rgba(48, 22, 140, 0.55),
  0px 0px 70px 70px rgba(40, 17, 130, 0.75),
  0px 0px 100px 100px rgba(36, 14, 114, 0.95);

}

.main{
 width:100%;
  height:40px;
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(36, 14, 114, 0.945);
}
.logo img{
  height:40px;
  width:150px;
  object-fit: contain;
  image-rendering:optimizeQuality;
  image-resolution: auto;
  padding-left: 5px;
  transform: scale(4.5);
  position:relative;
  left:-10px;
  
}
.nav{
  width:30%;
  margin-left: 10%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
 
  align-items: center;
  

}
.nav div {
  padding: .375rem .375rem .3rem .375rem;
    
}

.link{
  color:rgb(238, 238, 22);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  
  

}
.link:active{
  color:rgb(148, 160, 160);
}
.nav div:hover{
  border-radius: 9999px;
 
  color:chartreuse;
  background-color: rgb(28, 7, 102);
}

.btn{
  position:relative;
  bottom: 15px;
  margin-right: 20px;
   min-width: 60px;
   height:30px;
}
.user{
  margin:0 10px;
  width:40px;
  height:40px;
  border-radius: 50%;
  border:1px solid black;
}




